@model Empleado

@{
	ViewData["Title"] = "Borrar empleado";
}


<form asp-action="BorrarConfirm" class="Custom-form">
	<h3 class="text-center">¿Seguro de Borrar al empleado <strong>"@Model.Nombre"</strong>?</h3>
	<h5>Esta accion no se puede deshacer</h5>

	<input asp-for="Id" type="hidden" />
	<button type="submit" class="btnB"><i class="bi bi-trash3"></i> Borrar</button>
	<a asp-action="Index" class="btnC">Cancelar</a>
</form>