<div class="text-center">
    <h1 class="display-4">Soy Jose Luis Contreras</h1>

    @*<h4>@hoy.ToString("dd/MM/yyyy hh:mm:ss")</h4>*@

    <h2>Soy un estudiante de Ingeneria en Sistemas</h2>


    <img class="img-fluid w-25 rounded-circle" src="~/images/foto01.jpg" alt="Imagen de Perfil" />
</div>


@*Logo .Net*@

<div class="text-center mb-3">
    <img class="img-fluid w-25" src="~/images/dotnet-imagen-2.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h2>Bienvenido a mi portafolio</h2>
        <p>
            Soy un rogramador con mas de 5 años de experiencia en dearrollo de
            Software. He trabajado en proyectos de diferentes tamaños y comlejidad,
            utuliando varios lenguajes de programacion tectonologias.
            entre mis principales protyectos desccatan la implementacion de un sistema de
            gestion de ventas y control de invetario para una cadena de tiendas de electronica
            utilizando c# y MSSQL, cumpliendo con los requeremientos de cliente y con
            altos estandares de calidad.
        </p>

    </div>
</div>

