@{
    ViewData["Title"] = "Gracias";
}
<h1>Gracias por ponerse en contacto conmigo</h1>
<p>Le contestare el mensaje lo mas pronto posible</p>
<a class="btn btn-primary" asp-controller="home" asp-action="index">Volver al inicio</a>