

@*NO LA UTILIZO*@

@*@model Alumno


<div class="row justify-content-center justify-content-lg-start mt-3 gap-3">
	<div class="col">
		<h4>Alumno: @ViewBag.Nombre</h4>
	</div>
	<div class="col">
		<h4>Apellido</h4>
	</div>
	<div class="col">
		<h4>Numero de Cuenta</h4>
	</div>
	<div class="col">
		<h4>Presente</h4>
	</div>
	<div class="col">
		<h4>Inasistente</h4>
	</div>
</div>
*@
