@model Capacitacion

@{
	ViewData["Title"] = "Eliminar";
}

<form asp-action="BorrarConfirm" class="Custom-form">
	<div class="text-center">
		<h2>¿Esta seguro de eliminar <strong>"@Model.Nombre"</strong>?</h2>
		<h5>Tenga en cuenta que esta accion no se puede deshacer</h5>
	</div>

	<input asp-for="Id" type="hidden" />
	<button type="submit" class="btnB"><i class="bi bi-trash3"></i>Borrar</button>
	<a asp-action="Index" class="btnC">Cancelar</a>
</form>